<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="user" type="com.qiandaibaobao.pojo.User"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/qiandaibaobao/mapping/userMapper.xml"/>
        <!--<mapper class="com.qiandaibaobao.dao.UserDAO"/>-->
    </mappers>
</configuration>