<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiandaibaobao.dao.UserDAO">
    <select id="fetchUserByNameAndPassword" resultType="user">
        select id, name, password from tmp_user where name=#{name}
        and password = #{password}
    </select>
    <select id="fetchUserById" resultType="user">
        select id, name, password from tmp_user where id = #{id}
    </select>
    <insert id="addUser">
        insert into tmp_user (id,name, password, salt) values(tmp_s_user.nextval, #{name}, #{password}, #{salt})
    </insert>
    <update id="updateUser">
        update tmp_user set name = #{name}, password = #{password}, salt=#{salt} where id = #{id}
    </update>
    <select id="fetchUserId" resultType="int">
        select id from tmp_user where name=#{name}
    </select>
    <select id="countUserName" resultType="int">
        select count(id) from tmp_user where name=#{name}
    </select>
    <select id="userSalt" resultType="String">
        select salt from tmp_user where name=#{name}
    </select>
</mapper>