<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiandaibaobao.dao.PostDAO">
    <resultMap id="posts" type="com.qiandaibaobao.pojo.Post">
        <id column="id" property="id"/>
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
        <result column="author_id" property="authorId"/>
    </resultMap>
    <select id="posts" resultMap="posts">
        select id,title,content,create_time,author_id from post where author_id = #{authorId}
        order by create_time desc
    </select>
    <insert id="savePost">
        insert into post (title, content, create_time, author_id)
        values(#{title},#{content},#{createTime},#{authorId})
    </insert>
</mapper>