<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiandaibaobao.dao.UserDAO">
    <select id="fetchUserByNameAndPassword" resultType="user">
        select id, name, password, avatar, create_time from user where name=#{name}
        and password = #{password}
    </select>
    <select id="fetchUserById" resultType="user">
        select id, name, password, salt, avatar, create_time from user where id = #{id}
    </select>
    <insert id="addUser">
        insert into user (name, password, salt) values(#{name}, #{password}, #{salt})
    </insert>
    <update id="updateUser">
        update user set name = #{name}, password = #{password}, salt=#{salt} where id = #{id}
    </update>
    <select id="fetchUserId" resultType="int">
        select id from user where name=#{name}
    </select>
    <select id="countUserName" resultType="int">
        select count(id) from user where name=#{name}
    </select>
    <select id="userSalt" resultType="String">
        select salt from user where name=#{name}
    </select>

    <select id="user" resultMap="userMap">
        select id, name, password, salt, avatar, create_time from user
        where name = #{name} and password = #{password}
    </select>

    <resultMap id="userMap" type="com.qiandaibaobao.pojo.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="avatar" property="avatar"/>
        <result column="create_time" property="createTime"/>
        <collection property="posts" ofType="com.qiandaibaobao.pojo.Post"
                    column="{author_id=id}" select="com.qiandaibaobao.dao.PostDAO.posts"/>
    </resultMap>
</mapper>