a:visited {
    color: #265778;
    text-decoration: none;
}
a:link{

}

.f-main {
    width: 850px;
    margin: 30px auto auto;
}

.f-message{
    color: #b94a48;
}

.f-hide{
    display:none;
}

.f-show{
    display:block;
}

.f-textarea{
    width: 300px;
    height: 60px;
}

.f-wordbreak{
    word-break: break-all
}