.class-div-margin-top-10 {
    margin-top: 10px;
}

.class-feeler-word-break{
    word-break: break-all;
}

.class-feeler-hide{
    display: none;
}

.class-feeler-show{
    display: block;
}

.class-canvas-block{
    display: block;
}