<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>宝刀网</title>

    <meta name="description" content="让你的刀永远锋利">
    <meta name="author" content="Chris Zhang">

    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/style.css" rel="stylesheet">
    <script src="/resources/js/jquery.js"></script>
    <script src="/resources/js/api.js"></script>
    <script>

        var setup = function () {
            $('#id-div-message').hide();
        };

        var showMessage = function (message, type) {
            var prefix = 'alert-';
            var messageClass = prefix + type;
            var $message = $('#id-div-message');
            $message.removeClass();
            $message.addClass('alert alert-dismissable');
            $message.addClass(messageClass);
            $message.show();
            $('#id-div-message-text').html(message);
        };

        var loginForm = function () {
            var keys = [
                'username', 'password'
            ];
            var loginPrefix = 'id-input-login-';
            return formFromKeys(keys, loginPrefix);
        };

        var registerForm = function () {
            var keys = [
                'username', 'password', 'email'
            ];
            var registerPrefix = 'id-input-register-';
            return formFromKeys(keys, registerPrefix);
        };

        var login = function () {
            var form = loginForm();
            var success = function (r) {
                if (r.success) {
                    window.location.href = r.next;
                } else {
                    log(r.message);
                }
                showMessage(r.message, 'danger');
            };
            vip.login(form, success);
        };

        var register = function () {
            var form = registerForm();
            var success = function (r) {
                log(r.message);
                if (r.success) {
                    log(r.next);
//                    window.location.href = r.next;
                    $('#id-a-login').click();
                    showMessage(r.message, 'success');
                } else {
                    log(r.message);
                    showMessage(r.message, 'danger');
                }
            };
            vip.register(form, success);
        };

        var bindActions = function () {
            $('#id-button-login').on('click', function () {
                login();
            });
            $('#id-button-register').on('click', function () {
                register();
            })
        };


        var __main = function () {
            setup();
            bindActions();
        };

        $(document).ready(function () {
            __main();
        })
    </script>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <div class="page-header">
                        <h1>
                            宝刀网
                            <small>让你的刀永远锋利</small>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8" id="id-div-content">

                    <div class="tabbable" id="tabs-176498">
                        <ul class="nav nav-tabs">
                            <li class="active" id="li-tab-login">
                                <a href="#panel-login" data-toggle="tab" id="id-a-login">登录</a>
                            </li>
                            <li id="li-tab-register">
                                <a href="#panel-register" data-toggle="tab">注册</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="panel-login">
                                <!--<form role="form">-->
                                <div class="form-group">

                                    <label for="id-input-login-username">
                                        用户名
                                    </label>
                                    <input type="text" class="form-control" id="id-input-login-username"/>
                                </div>
                                <div class="form-group">

                                    <label for="id-input-login-password">
                                        密码
                                    </label>
                                    <input type="password" class="form-control" id="id-input-login-password"/>
                                </div>
                                <div class="checkbox">

                                    <label>
                                        <input type="checkbox"/> 记住我
                                    </label>
                                </div>
                                <button class="btn btn-default" id="id-button-login">
                                    登录
                                </button>
                                <!--</form>-->
                            </div>
                            <div class="tab-pane" id="panel-register">
                                    <div class="form-group">

                                        <label for="id-input-register-username">
                                            用户名
                                        </label>
                                        <input type="text" class="form-control" id="id-input-register-username"/>
                                    </div>
                                    <div class="form-group">

                                        <label for="id-input-register-password">
                                            密码
                                        </label>
                                        <input type="password" class="form-control" id="id-input-register-password"/>
                                    </div>
                                    <div class="form-group">

                                        <label for="id-input-register-email">
                                            邮箱
                                        </label>
                                        <input type="text" class="form-control" id="id-input-register-email"/>
                                    </div>
                                    <button type="submit" class="btn btn-default" id="id-button-register">
                                        注册
                                    </button>
                            </div>
                        </div>
                    </div>
                    <div class='alert alert-dismissable' id='id-div-message'>
                        <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button>
                        <!-- 警告信息 -->
                        <div id='id-div-message-text'></div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/resources/js/bootstrap.min.js"></script>
<script src="/resources/js/scripts.js"></script>
</body>
</html>