<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>宝刀网</title>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/style.css" rel="stylesheet">
    <script src="/resources/js/jquery.js"></script>
    <script src="/resources/js/api.js"></script>
    <script>
        var articles = function () {
            var success = function (r) {
                var result = $.parseJSON(r);
                log(result);
                if(result.success) {
                    var $articles = $('#id-div-articles');
                    var html = '';
                    var articles = result.articles;
                    for(var i = 0; i<articles.length;i++){
                        var article = articles[i];
                        console.log(article.title+ ' ' +article.content);
                        html = html + '<h2>' + article.title + '</h2>';
                        html = html + '<p>' + article.content + '</p>';
                        html = html + '<p><a class="btn" href="#">View details »</a></p>';
                    }
                    $articles.html(html);

                }
            };
            vip.articles(success);
        };

        var __main = function () {
            articles();
        };

        $(document).ready(function () {
            __main();
        })
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <div class="page-header">
                        <h1>
                            宝刀网 <small>屠龙宝刀 点击就送</small>
                        </h1>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Profile</a>
                        </li>
                        <li class="disabled">
                            <a href="#">Messages</a>
                        </li>
                        <li class="dropdown pull-right">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="class-div-margin-top-10">
                        <button type="button" class="btn btn-default">
                            写新文章
                        </button>
                    </div>
                    <div id="id-div-articles"></div>
                    <h2>
                        Heading
                    </h2>
                    <p>
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
                    <p>
                        <a class="btn" href="#">View details »</a>
                    </p>
                    <h2>
                        Heading
                    </h2>
                    <p>
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
                    <p><a class="btn" href="#">View details »</a></p>
                    <ul class="pagination">
                        <li>
                            <a href="#">Prev</a>
                        </li>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">Next</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>